.burger {
    display: none;
    position: relative;
    width: 35px;
    height: 19px;
    cursor: pointer;
    z-index: 60;
}

.burger__line {
    position: absolute;
    left: 0;
    top: 8px;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--text-main-color);
}

.burger::after,
.burger::before {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--text-main-color);
}

.burger::after {
    bottom: 0;
}

.burger::before {
    top: 0;
}

/* MEDIA */

@media (max-width: 549px) {
    .burger {
        display: block;
    }

    .burger.active span,
    .burger.active::after,
    .burger.active::before {
        background-color: var(--white);
    }
}
