.card {
    position: relative;
    height: 160px;
    border-radius: 10px;
    color: var(--accent-color);
    overflow: hidden;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.card__name {
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 700;
    border-radius: 10px;
    transition: padding var(--fast) ease-in-out, background-color var(--fast) ease-in-out;
}

.card__name:hover {
    padding: 7px 50px;
    background-color: rgba(220, 239, 255, 0.7);
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-property: backdrop-filter, background-color;
    transition-duration: var(--fast);
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(2px);
    background-color: rgba(131, 131, 131, 0.5);
    pointer-events: none;
}

.card:hover::after {
    backdrop-filter: blur(0px);
    background-color: transparent;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__link {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.card__like {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: rgba(197, 0, 23, 0.9);
    font-size: 24px;
    transition: color var(--fast) ease-in-out, text-shadow var(--fast) ease-in-out, transform var(--fast) ease-in-out;
}

.card__like:hover {
    color: rgba(155, 138, 140, 0.9);
    transform: scale(1.2);
}

.card__edit {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition: color var(--fast) ease-in-out;
}

.card__edit:hover {
    color: var(--accent-color);
}
