.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    align-items: center;
    justify-items: start;
}

.card-info__description {
    width: 100%;
    grid-column: span 3;
}

.card-info__name,
.card-info__description {
    transition: box-shadow var(--fast), background-color var(--fast), padding var(--fast);
}

.card-info__description[contenteditable='true'],
.card-info__name[contenteditable='true'] {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px var(--accent-color);
    background-color: aliceblue;
}

.card-info__img {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.card-info__id {
    padding: 5px 20px;
    background-color: var(--id-color);
    color: #fff;
    font-weight: 300;
    font-style: italic;
    border-radius: 10px;
}

.card-info__name,
.card-info__age {
    font-size: 22px;
    font-weight: 600;
}

.card-info__age,
.card-info__title {
    display: flex;
    column-gap: 10px;
}

.card-info__img-wrap {
    grid-column: span 2;
    grid-row: 1/7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.card-info__favourite {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: grey;
    cursor: pointer;
    transition: color var(--fast);
}

.card-info__favourite:hover {
    color: var(--like-color);
    transition: color 0s;
}

.card-info__favourite_active {
    color: var(--like-color);
}

.card-info__rate {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    font-size: 20px;
    color: var(--primary-color);
    -webkit-text-stroke: 1px #000000;
}

.card-info__edit:hover {
    color: var(--accent-color);
    font-weight: 900;
}

.card-info__delete:hover {
    color: var(--warning-color);
    font-weight: 900;
}

.card-info__save_hidden,
.card-info__edit_hidden {
    display: none;
}
