.header {
    position: relative;
    padding: 15px 0;
    background-color: var(--header-bg-color);
    box-shadow: var(--shadow);
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    /* background-color: transparent; */
    pointer-events: none;
    /* transition: background-color 2s; */
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__controls {
    display: flex;
    column-gap: 15px;
}

.header__btn {
    text-transform: uppercase;
}

#login-btn:hover {
    background-color: var(--warning-color);
    color: var(--white);
}

/* MEDIA */

@media (max-width: 549px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        padding: 10px 0;
    }

    .header.active::after {
        background-color: blueviolet;
    }

    .header__logo.active {
        position: relative;
        z-index: 60;
        color: var(--white);
    }

    .header__controls {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        padding: 85px 15px 0;
        flex-direction: column;
        row-gap: 15px;
        background-color: black;
        transform: translateY(-100%);
        transition: transform var(--fast);
    }

    .header__controls.active {
        transform: translateY(0);
    }
}
