.header {
    padding: 15px 0;
    background-color: var(--header-bg-color);
    box-shadow: var(--shadow);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__controls {
    display: flex;
    column-gap: 15px;
}

.header__btn {
    text-transform: uppercase;
}
