:root {
    --bg-main-color: rgb(112, 162, 255, 0.41);
    --text-main-color: rgb(47, 53, 66);
    --text-secondary-color: rgb(116, 125, 140);
    --header-bg-color: rgb(241, 242, 246);
    --footer-bg-color: rgb(241, 242, 246);
    --popup-overlay-bg: rgba(87, 96, 111, 0.8);

    --form-color: rgb(255, 255, 255);
    --input-border: rgb(164, 176, 190);
    --accent-color: rgb(46, 213, 115);
    --primary-color: rgb(255, 165, 2);
    --secondary-color: rgb(255, 127, 80);
    --delete-btn-color: rgb(252, 63, 29);
    --fast: 0.25s;
}
